* {
    margin: 0;
    padding: 0;
    list-style: none; 
    text-decoration: none;

}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar > * { 
    display: inline-block;
    vertical-align: middle;
}

.navbar {
    display: block;
    background-color: #000;
    padding: 25px 5px;
    box-shadow: 0px 4px 9px 2px #000;
}
.logo{
    width: 2%;
}
.logo-img {
    height: auto;
    opacity: 0.8
}
.menu{
    width: 70%;
}

.menu-item {
    display: inline-block;
    padding: 0 10px;
}

.menu-item a {
    color: #fafafa;
    font-size: 18px;
}
.sing-in {
    padding: 0 15px;
}

.sing-in a{
    color: #fafafa;
    font-size: 18px;
    border: 2px solid #0b48b9;
    border-radius: 2px;
    background-color: #0d7c97;
    padding:  6px 20px ;
    transition: 0.2s ease-in;
    
}
.sing-in a:hover {
    color: #0d0d0e;
    background-color: #fdfdfd;
    border: 2px solid #0d0d0e;
}