* {
    margin: 0;
    padding: 0;
    list-style: none; 
    text-decoration: none;

}

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar > * { 
    display: inline-block;
}

.navbar {
    display: block;
    background-color: #2c2836;
    padding: 25px 5px;
    box-shadow: 0px 4px 9px 2px #000;
}

.logo{
    width: 15%;
}

.logo a {
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
}

.menu{
    width: 60%;
}

.menu-item {
    display: inline-block;
    padding: 0 10px;
}

.menu-item a {
    color: #fafafa;
    font-size: 18px;
}
.contact {
    padding: 0 15px;
}

.contact a{
    color: #fafafa;
    font-size: 18px;
    border: 2px solid #100cf8;
    border-radius: 20px;
    background-color: #0487A9;
    padding:  6px 20px ;
    transition: 0.2s ease-in;
    
}

.contact a:hover {
    color: #0487A9;
    background-color: #fafafa;
}

