* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}
.barra-navegacion{
    display: block;
    background-color: rgb(231, 157, 157);
}
.logo{
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}
.menu{
    display: inline-block;
    width: 60%;
    vertical-align: middle;
}
.menu-item{
    display: inline-block;
    padding: 5px;
    margin: 0px 5px;
    font-size:18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:white;

}
.sesion{
    display: inline-block;
    width: 15%;
    vertical-align: middle;
}
.login{
    display: inline-block;
    font-size:18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 5px;
    margin: 0px 5px;
}
.sign-up{
    display: inline-block;
    font-size:18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 5px;
    margin: 0px 5px;
}
