* {
    margin: 0;
    padding: 0;
    list-style: none; /*Quitqr puntos de la listas*/
    text-decoration: none;

}

body {
    text-align: center; /*Centra todos los textos*/
    font-family: Arial, Helvetica, sans-serif;
}

.navbar > * { /*seleccionar todos los hijos de navbar*/
    display: inline-block;
}
.navbar {
    display: block;
    background-color: #321097;
    padding: 25px 5px;
    box-shadow: 0px 4px 9px 2px #000;  /*sombra de caja*/
}
.logo {
    width: 15%;
}
.logo a {
    color: #fafafa;
    font-weight: bold;
    font-size: 24px;
}
.menu {
    width: 55% ;
}
.menu-item {
    display: inline-block;
    padding: 0 15px;
}
.menu-item a {
    color: #fafafa;
    font-size: 18px;
}
.logs {
    width: 25%;
}
.logs > * { /*seleccionar todos los hijos de logs*/
    display: inline-block;
}
.sign-in {
    padding: 0 15px;
}
.sign-in a {
    color: #fafafa;
    font-size: 18px;

}
.sign-up {
    padding: 0 15px;
}
.sign-up a {
    color: #fafafa;
    font-size: 18px;
    border: 2px solid #7a54ed;
    border-radius: 20px;
    padding: 10px ;
    /*transition: propiedad que sirve para asignar tiempos y tipos de efectos 
    a un elemento al que se le va a crear una animacion */
    transition: 0.5s ease-in;
}
.sign-up a:hover {
    color: #321097;
    background-color: #fafafa;
}